/* HTML5 ✰ Boilerplate
 * ==|== normalize ==========================================================
 */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body { margin: 0; font-size: 13px; line-height: 1.231; }
body, button, input, select, textarea { font-family: sans-serif; color: #222; }

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; *overflow: visible; }
table button, table input { *overflow: auto; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }


/* ==|== primary styles =====================================================
   Author: Vincenzo Petrungaro <cenzinoos@gmail.com>
   ========================================================================== */

h1, h2, h3, h4, h5, h6 {
    margin:0; padding:0;
    line-height: 1;
    text-rendering: optimize-legibility;
}

html,body { 
    /*
    background-color: #e6e6e6; 
    color: #222;
    */
    background-color: whiteSmoke;
    /* background-color: #f5f5f5; */
    color: #333;
    margin: 0; 
    padding: 0;
    padding-top: 0px;
    padding-bottom: 10px;
    font-weight: 300;
}

body { 
    font-family: "Droid Sans";
    font-size: 14px;
}

a { color: #08C;  text-decoration: none;}
a:hover { color: #08C; text-decoration: underline;}
a:visited { color: #08C; }

h1 a { color: #4d4d4d; }
h1 a:hover { color: #4d4d4d; text-decoration: none; }
h1 a:visited { color: #4d4d4d; }

#container { margin: 0 auto; width: 690px; }

#header-container { 
    margin: 0 auto;
    /* background-color: #FFF; padding: 1em; */
}

#header-container h1 { margin-top: 0em; }
#header-container h2 { margin-top: .8em; font-family: "Droid Serif"; }

#header-container h1 { padding-top: 0.4em; margin-top: 0.1em; /*letter-spacing: -0.15em;*/ color: #345; font-size: 2.5em; text-transform:lowercase; }
#header-container h1 span { font-weight: normal; color: #777; margin: 0; }

#header-container h2 { font-weight: normal; font-style: italic; color: #999; font-size: 1.2em; }

header nav { float: right; margin-top: 0.0em; font-size: 1.2em; word-spacing: 0.4em; }
header nav ul li { text-align: right; display: inline; }

textarea { width: 80%; }
#text { height: 200px; }

#main {
    padding: 1em;
    margin-top: 2em;
}

#main section {
    
}

#main section h1 {
    font-weight: 800;
    font-size: 1.2em;
}

#main article {
    margin: 0;
}

#main article h1 {
    margin: 0;
    font-size: 1.8em;
}

#main article time {
    color: #999;
    font-size: 0.95em;
}

hr {
    display: block;
    height: 1px;
    padding: 0;
    /* margin: 0 55px; */
    background-color: #DDD;
    border: 0;
}

.box {
    background-color: #fff;
    /* background-color: #fafafa; */
    /* border: 1px solid #d7d7d7; */
    border: 1px solid #DDD;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.2);
    -moz-box-shadow: 0 5px 15px rgba(0,0,0,.2);
    box-shadow: 0 3px 5px rgba(0,0,0,.2)
}

.codehilite pre { 
    -moz-border-radius: 5px;
	border-radius: 5px;
    padding: .5em;
    margin: 0em 0;
    background-color: #fafafa;
    border: solid 1px #ddd;
    width: auto;
    overflow: auto;
    font-family: "Consolas", "Monaco", "Courier New", Courier;
}

#footer-container footer { text-align: center; margin-top: 1em; font-size: 1.1em;}
address { font-style: normal; }

p { letter-spacing: 0em; font-size: 14px; font-family: "Droid Serif"; }







/* ==|== non-semantic helper classes ======================================== */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


/* ==|== media queries ====================================================== */

@media only screen and (min-width: 480px) {


}

@media only screen and (min-width: 768px) {

}



/* ==|== print styles ======================================================= */
 
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } 
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; } 
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
